<% count = 0 %>
  <h1>Current Users</h1>
  <table class='table my-5'>
  <thead>
    <tr>
      <th scope='col'>No</th>
      <th scope='col'>Name</th>
      <th scope='col'>Email</th>
      <th scope='col'>Admin</th>
      <th colspan="4"><span class='px-5' >Actions<span></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <th scope='row'><%= count %></th>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
      <%# <><%= user.user.email.split('@')[0].capitalize %>
        <td><%= user.role %></td>
        <td><%= link_to 'Show', user_path(user) %></td>
        <%if current_user && current_user.role == 'admin'%>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end %>
      </tr>
      <%count = count.next%>
    <% end %>

  </tbody>
  </table>
  <%= link_to 'Back', :back, class: 'btn btn-primary btn-sm' %>


